name: Language Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          
          filename: dist/metrics.svg
          committer_branch: output-metrics
          
          user: dieWehmut
          template: classic
          base: "" 
          config_timezone: Asia/Shanghai
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, less, dockerfile, makefile, qmake, lex, cmake, shell, gnuplot, ejs
          plugin_languages_limit: 0
          plugin_languages_details: bytes-size, percentage
          plugin_languages_colors: github
          plugin_languages_threshold: 0%
          commits_authoring: dieWehmut
